html, body {
    margin: 0;
    padding: 0;
    height:100%;
}

.images {
    height:100%;
}
.haute,.basse {
    background-size:auto 200%;
    background-position:center top;
    background-repeat:no-repeat;
    display:block;
    height:100%;
    position:relative;
}

.swiper-wrapper,.swiper-slide {
    height:100%;
}

.swiper-container-haute, .swiper-container-basse {
    overflow: hidden;
    height:50%;
}

.basse {
  background-position:center bottom;
}

.nombasse {
  display : inline;
  position:absolute; top:0px; left:30px;
}

.nomhaute {
  display : inline;
  position:absolute; bottom:0px; left:30px;
}

.image-upload > input {
  display: none;
}

.image-upload {
  position:absolute; top:10px; left:10px;
}

.nom {
  text-align: center;
  font-size: 6vh;
  font-family: sans-serif;
  width : 0px;
  word-wrap : break-word;
}
